<div class="login-container">
	<div class="app-title">
		<img
			src="assets/images/logo-todo-app.svg"
			alt="Logo de la aplicación"
			class="logo"
		/>
		<h1><span [ngStyle]="{ color: 'orange' }">ATOM</span> TO DO APP</h1>
		<h3>To Do App te ayuda a organizar tus tareas</h3>
	</div>
	<mat-card class="login-card">
		<form
			[formGroup]="loginForm"
			(ngSubmit)="onSubmit()"
		>
			<mat-form-field
				appearance="outline"
				class="full-width"
			>
				<mat-label>Correo electrónico</mat-label>
				<input
					matInput
					type="email"
					formControlName="email"
					maxlength="30"
				/>
				<mat-error *ngIf="loginForm.get('email')?.invalid">
					{{ getEmailErrorMessage() }}
				</mat-error>
			</mat-form-field>

			<button
				mat-raised-button
				color="primary"
				class="full-width"
				[disabled]="loginForm.invalid || isLoading"
			>
				<ng-container *ngIf="isLoading; else buttonText">
					<mat-spinner [diameter]="25"></mat-spinner>
				</ng-container>
				<ng-template #buttonText>Iniciar Sesión</ng-template>
			</button>
		</form>
	</mat-card>
</div>
