.tituloLista {
	text-align: center;
	color: #333;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	background-color: #f4f4f4;
	margin-bottom: 10px;
	padding: 15px;
	border-radius: 5px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	transition: all 0.3s ease;
}

.checkbox-label-title {
	font-size: 15px;
}

.checkbox-label-description {
	font-size: 13px;
}

.button-group {
	button {
		margin-left: 15px;
	}
}

button {
	border: none;
	border-radius: 3px;
	cursor: pointer;
}

.edit-btn {
	background-color: #4caf50;
	color: white;
}

.delete-btn {
	background-color: #f44336;
	color: white;
}

.edit-btn:hover {
	background-color: #45a049;
}

.delete-btn:hover {
	background-color: #d32f2f;
}

.tachado {
	text-decoration: line-through;
	color: gray;
}

.center-spinner {
	place-items: center;
}

.alert {
	background-color: white;
	color: #ff6600;
	border-radius: 10px;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 20%;
	margin-right: 20%;
}

.container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.column {
	text-align: center;
	padding: 10px;
	box-sizing: border-box;
}

.column-1 {
	width: 70%;
	text-align: left;
}

.column-2 {
	text-align: right;
	font-size: 0.8em;
	width: 15%;
	font-style: italic;
	color: #333;
}
.column-3 {
	text-align: right;
	width: 15%;
}

@media screen and (max-width: 500px) {
	body {
		padding: 10px;
	}

	li {
		flex-direction: column;
		align-items: flex-start;
	}

	.button-group {
		width: 100%;
		justify-content: flex-end;
	}

	button {
		padding: 5px 10px;
		font-size: 12px;
	}

	.checkbox-label {
		font-size: 17px;
	}

	.column-1 {
		width: 100%;
		text-align: left;
	}

	.column-2 {
		text-align: left;
		width: 50%;
	}
	.column-3 {
		text-align: right;
		width: 50%;
	}
}
