.container-header {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	background-color: #bcc6d1;
}

.column {
	text-align: center;
	padding: 10px;
	box-sizing: border-box;
}

.column-1 {
	width: 65%;
	text-align: left;
	font-size: 1.3em;
}

.column-2 {
	text-align: right;
	font-size: 0.9em;
	width: 20%;
	font-style: italic;
	color: #333;
	margin-top: 10px;
	font-weight: bold;
}
.column-3 {
	text-align: right;
	width: 15%;
}

.app-name {
	margin-left: 20px;
	font-weight: bold;
	padding: 5px;
	color: #ff6600;
}

.container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background: linear-gradient(to bottom, #ffffff, #5d89b4);
	padding: 10px;
	margin: 0px;
	margin-bottom: 15px;
}

button {
	background-color: #f68439a1;
}

mat-divider {
	color: #ff5722;
	border-color: #ff5722; 
}

@media screen and (max-width: 500px) {
	.column-1 {
		width: 100%;
		text-align: center;
	}

	.column-2 {
		text-align: left;
		width: 50%;
	}
	.column-3 {
		text-align: right;
		width: 50%;
	}
}
