mat-card {
	padding: 10px;
	text-align: right;
}

mat-form-field {
	width: 100%;
}

button {
	margin-top: 15px;
}

mat-hint {
	color: #ff6d00;
}

.small-button {
	font-size: 12px;
	padding: 4px 8px;
	height: 30px;
}
